.app-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.app-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.delivery-info {
  margin-top: 20px;
  text-align: left;
}

.delivery-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.delivery-info ul {
  list-style: disc;
  margin-left: 20px;
}

.basket {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basket-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.basket-items-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.basket-item-list {
  list-style: none;
  padding: 0;
}

.basket-item-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff5722;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.subtotal,
.discounted-amount,
delivery-cost,
.total {
  margin-top: 10px;
  font-weight: bold;
}

.reset-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.reset-button:hover {
  background-color: #0056b3;
}
.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.catalog-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-catalog-container {
  display: flex;
  justify-content: space-around;
}

.product-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  color: #333;
}

.product-description {
  margin-top: 10px;
}

.add-to-basket-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.add-to-basket-button:hover {
  background-color: #0056b3;
}
